body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orng-c{
    color: orangered;
}
.flexible-part{
    display: flex;
    margin-bottom: 150px;
}
.banner-one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-part{
    width:50%;
    padding-left: 5%;
}
.half-part img{
width: 80%;
}
.btn-one{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,rgba(231, 44, 31, 0.897));
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
}
.btn-one:hover{
    background-color: whitesmoke;
    color: orangered;
    font-weight: 700;
    
}
.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.br-p{
    padding-right:10% ;
}
.half-width{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    padding-bottom: 50px;


}
.bg-exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.part-one{
    border-left: 7px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.part-two{
    border-left: 7px solid ;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
    color: rgb(36, 35, 35);
}